<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzxt.dao.LicenseLegalPersonDao">
	
<insert id="add" parameterType="com.zzxt.entity.LicenseLegalPersonEntity">
		<selectKey keyProperty="id" resultType="int">  
            select LAST_INSERT_ID()  
        </selectKey>
		insert into license_legalperson(lid, lpid)
		values (#{lid},#{lpId})
</insert>


<delete id="del" parameterType="String">
	DELETE FROM license_legalperson
	where id=#{id}
</delete>
	
	
</mapper>